<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions />
	<actions>
		<!-- Admin view -->
		<action name="dispParserlinkAdminConfig" type="view" admin_index="true" />

		<!-- Admin Controller -->
		<action name="procParserlinkAdminInsertConfig" type="controller" />
		<action name="getInstagram" type="model" />
		<action name="getDefaultPreviewByUrl" type="model" />
	</actions>
</module>
