<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants />
	<permissions />
	<actions>
		<!-- Admin view -->
		<action name="dispParserlinkAdminConfig" type="view" admin_index="true" />
		<action name="dispParserlinkAdminDataList" type="view" />
		<action name="dispParserlinkAdminSnsDataList" type="view" />

		<!-- Admin Controller -->
		<action name="procParserlinkAdminInsertConfig" type="controller" />
		<action name="procParserlinkAdminDeleteAllData" type="controller" />
		<action name="procParserlinkAdminDeleteAllSNSData" type="controller" />

		<!-- ETC -->
		<action name="getInstagramData" type="model" />
		<action name="dispParserlinkDefaultPreviewByUrl" type="view" />

		<!-- User Controller -->
		<action name="procParserlinkUpdateInstagram" type="controller" />
	</actions>
</module>
